<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.coin.crawler.mapper.TemplateMapper">
    <resultMap id="BaseResultMap" type="org.coin.crawler.entity.module.Template" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="code" property="code" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        id, code
    </sql>

    <select id="findByList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shop_base
        where city_code = '120100'
    </select>
</mapper>